[2011-04-10 13:38] ccidral opened #2 "Move issues from Google Code to Github"
Move 'em fast, move 'em now.

[2011-04-17 12:18] ccidral opened #3 "Rounded corners for timer window"

[2011-04-17 12:47] ccidral opened #4 "Better tray icon"
The actual tomato icon is not correctly rendered by the JVM.  It renders translucent pixels into black pixels.  In addition, the transparent background becomes grayed.

We need a new icon, perhaps a squared one to avoid translucent pixel issues.  Preferably someone with proper design skills should perform this task as my design skills are terrible.

This issue was moved from http://code.google.com

[2011-04-17 14:06] ccidral opened #5 "Keep track of user tasks"
The user should be able to name a task on which she (or he) is working at the moment.  Tomighty should keep track of the execution of that task by recording pomodoros, breaks and interruptions done while the task is selected.

[2011-04-17 14:11] ccidral opened #6 "Task list manager"
The task list manager should allow users to:
- Add/edit/delete tasks
- Mark pomodoros completed during the task
- Mark interruptions occurred during the task
- Mark task as done
- Mark task as cancelled
- Change task order
- Set/change task priority

[2011-04-17 14:17] ccidral opened #7 "Exception under MacOS"
This is what happens when running Tomighty under MacOS:

[code]

Reported by @dobermai

[2011-04-17 14:19] ccidral opened #8 "Hide button in taskbar"
Don't show Tomighty in the taskbar when the window gets visible.

[2011-04-17 14:22] ccidral opened #9 "Auto updater"
Make Tomighty update itself.

[2011-04-17 14:24] ccidral opened #10 "Mute sounds from tray menu"
Add an option in the tray menu to mute/unmute sounds, so that users can quickly silence sounds without having to enter the options dialog.

[2011-04-17 14:27] ccidral opened #11 "Adjust volume of individual sounds"
Let the user configure the volume of each individual sound in the options dialog using a slider control.

[2011-04-17 14:30] ccidral opened #12 "Drag and drop the window around on the screen"
Add an option that allows the user to move the window around on the screen to any location.

[2011-04-17 14:33] ccidral opened #13 "Show window when Tomighty starts"
Add option to make the window visible when Tomighty starts.

[2011-04-17 14:33] ccidral commented on #13
Making the window visible on start is probably not possible because we need to know the tray icon location on the screen when the program starts, and there's no way to know that except by clicking on the tray icon.

[2011-04-17 14:38] ccidral opened #14 "Plugin support"
Add support for plugins so that people can extend Tomighty.

[2011-04-17 14:39] ccidral commented on #14
Will be available in the next release so that @helvalius can turn his achievement system into a plugin.

[2011-04-17 14:42] ccidral opened #15 "Integration with Remember The Milk"
This should be a Tomighty plugin.

[2011-04-17 14:46] ccidral opened #16 "Integrate with Google Tasks"
That should be a plugin.

[2011-04-17 14:58] ccidral opened #17 "Sounds often fail to play under Linux"
I noticed that this problem happens when there is another sound intensive application running in parallel.

[code]

[2011-04-17 15:02] dobermai commented on #15
+1, this would be an absolute killer feature!

[2011-04-17 15:26] ccidral commented on #15
Once plugin support is added it will be possible to create this plugin.

[2011-04-17 15:51] ccidral opened #19 "Achievements system"
Create a plugin for achievements as seen in http://jachievement.sourceforge.net/

@helvalius already added achievements into his own fork of Tomighty.  Would be great if it was implemented as a plugin.

[2011-04-17 16:13] ccidral opened #20 "Click on the gauge to increment or reset it"
The gauge automatically counts the amount of pomodoros as they get completed. That's cool, but what if I want to adjust manually the count or even reset it? Would be nice if I could click on it and turn a light on for each click. When all lights are on, the next click should reset the gauge (turn all lights off).

[2011-04-17 16:19] ccidral opened #21 "Play tictac sound only in the last 15 seconds"
Reported by ssbernal -at- gmail.com:

Hi,

would be nice to see minuts left before the end of the current pomodoro in the tray icon like here http://www.beatpoints.com/cherrytomato/

I like your version because it is simple and let me change the timer values. would be nice to listen the tic-tac sound only in the last 15 seconds (configurable would be better)

This issue was moved from http://code.

[2011-04-17 16:21] ccidral commented on #21
Hi ssbernal, thanks for your suggestions. Showing the remaining time is already implemented. About playing the tictac sound only in the last few seconds, I will keep that idea in mind but I think it has low priority.

[2011-04-17 16:23] ccidral opened #22 "Interrupt button should pause the timer"
Clicking on the interrupt button should pause the current pomodoro instead of aborting it. Then the user should be able to choose to either resume or abort the pomodoro.

Make this behavior configurable. In the options dialog, give the user two options regarding this behavior, something like this:

[code]

The default behavior must be `Abort the pomodoro`, according to what the technique suggests.

[2011-04-17 16:24] ccidral opened #23 "Review bus messages semantics"
Review all bus messages so that their semantics make more sense. For instance, when the timer stops, a interrupt message is sent, but it would make more sense if it was either a pomodoro interruption or a break interruption.

[2011-04-17 16:25] ccidral opened #24 "Show only one break button instead of two"
Two break buttons are actually displayed to the user when a pomodoro finishes: short break and long break. Only one should be displayed, either short or long break, determined by the number of completed pomodoros. The button now shown should be placed in the menu located at the top right corner of the screen, hence allowing the user to choose a different length of break.

[2011-04-17 16:26] ccidral opened #25 "Disable ticking sound during breaks"
As discussed in: http://groups.google.com/group/tomighty/browse_thread/thread/117a960fa5c83bf8

Add an option to disable the ticking sound during breaks.

[2011-04-17 16:27] ccidral opened #26 "Automatic transition between pomodoros and breaks"
As discussed in: http://groups.google.com/group/tomighty/browse_thread/thread/117a960fa5c83bf8

Add an option to enable automatic transition between pomodoros and breaks. In other words, when a pomodoro finishes, a break should start automatically, without user intervention. The same for when a break finishes. Make it configurable. The default behavior should be manual transition (requiring user i

[2011-04-18 09:52] dobermai commented on #7
Fixed in commit 87cdecaff1923161e059c114bf347366b1e8aab3 .

[2011-04-18 09:52] #7 closed, assigned to nobody

[2011-04-18 09:54] dobermai commented on #14
Just for thoughtfood: Here is an Article how to do this with the JavaSE ServiceLoader appraoch (or Netbeans Lookup). I had great experiences with the Netbeans Lookup approach in the past:

http://java.sun.com/developer/technicalArticles/javase/extensible/index.html

[2011-04-18 10:28] #2 closed, assigned to ccidral

[2011-04-18 23:24] ccidral opened #27 "Create a PPA for Tomighty"
Here is how to get started with it:

   https://help.launchpad.net/Packaging/PPA

[2011-04-18 23:32] ccidral opened #28 "Tray icons should match system tray theme"
Tray icons should look similar to the system tray theme of the OS under Tomighty is running.

For example: under MacOS tray icons should look metallic grey.  Under Ubuntu, they should look like the current desktop theme.

[2011-04-18 23:41] ccidral commented on #17
New report by _denholm dot james at gmail dot com_:

Using the 0.6 jar, this is still an issue for myself, at least. The following is output to the terminal:

[code]

Taken from the original issue at http://code.google.com/p/tomighty/issues/detail?id=31

[2011-04-19 00:22] ccidral commented on #14
Nice material!  We can take some ideas from it.

[2011-04-19 18:53] thiagotalma commented on #13
I have an idea about it.
Save the window position.

The first time the Tomighty runs, it does not open the window because it has no position, then waits for it to be clicked to read the position.

When it opens again without the click, it uses the stored position. If clicked, reads the mouse position, writes and uses its position when it is open again.

[2011-04-20 10:06] ccidral commented on #13
It could be a solution, however I have some concerns regarding it.  If the user moves its taskbar (or panel as in Gnome) before reopening Tomighty, the window will appear in a position different from the tray icon.  Under Gnome the user may also move the notification area (where tray icons live) from the upper left corner to the right corner, for example.  It may sounds unusual that the user might

[2011-04-20 11:59] thiagotalma commented on #13
In Windows you can also move the toolbar.

Thinking about this I suggested that the position be rewritten every time the icon was clicked.

So when the bar is moved, just click again to store the position.

[2011-04-21 12:21] ccidral commented on #13
When you click on the tray icon the window is shown and its position stored.  Then you exit Tomighty and after running it again the window will appear at the previous position.  This scenario is fine.  The problem I pointed out happens when you exit Tomighty, move the taskbar and then run Tomighty again.  Now the previous position is no more near the tray icon, and the window shows up at the wrong

[2011-04-21 12:45] ccidral commented on #13
As pointed out by @dobermai, there is also the screen resolution issue.  If you change the screen resolution while Tomighty is not running, the same problem happens.

In my opinion, the ideal solution should come from Java API.

[2011-04-22 02:27] thiagotalma commented on #13
If there was an option to automatically open in a corner of the screen?

I fear that Java does not have this option.
http://stackoverflow.com/questions/2514001/how-to-detect-the-position-of-the-system-tray-with-java

2011/4/21 ccidral <
reply@reply.github.com>

[2011-04-22 09:51] ccidral commented on #13
Exactly, it does not.

[2011-04-23 15:03] #12 closed, assigned to nobody

[2011-04-23 15:08] ccidral opened #31 "Update German translation"
You can take the changes to messages_pt_BR.properties to help you know what messages to update.  I will list all commits to that file here as I change it.

Do not close this issue until the official 0.7 release.

[2011-04-23 15:08] ccidral opened #32 "Update Russian translation"
You can take the changes to messages_pt_BR.properties to help you know what messages to update. I will list all commits to that file here as I change it.

Do not close this issue until the official 0.7 release.

[2011-04-23 15:18] ccidral commented on #31
First changes to translation: 88df6b6f6cdff10b949c68a43e66e247208828ef

[2011-04-23 15:24] ccidral commented on #32
First changes to translation: 88df6b6f6cdff10b949c68a43e66e247208828ef

[2011-04-23 18:56] ccidral commented on #8
I'm postponing the resolution of this issue.  Hiding the window from the taskbar is a simple task itself, it's just a matter of extending from JWindow instead of JFrame.  However under Gnome the JWindow floats over panels while JFrame does not.  In other words, when you click on the tray icon, the window shows up over the system tray.

The solution would involve finding out the panel/taskbar size

[2011-05-02 23:27] ccidral opened #34 "Allow configuring different sounds for break periods"
Let users choose different sounds for break periods.

[2011-05-04 11:05] moijafcor opened #35 "Spanish translation"
How can I help?

[2011-05-04 15:44] ccidral commented on #35
You can take the pt-BR translation file as a base for your translation: http://github.com/ccidral/tomighty/blob/master/src/main/text/messages_pt_BR.properties

Simply copy it and replace the strings in portuguese.

[2011-05-05 11:41] pabuisson opened #36 "French translation"
I'd like to be able to help and provide a French translation of tomighty...
Will browse the repository to retrieve the proper files.

[2011-05-05 15:39] ccidral commented on #36
That's great! You are very welcome.

[2011-05-11 07:51] pabuisson commented on #36
Done :)

[2011-05-11 07:51] #36 closed, assigned to nobody

[2011-05-17 15:50] ccidral opened #39 "Remember window position"
Remember the last window's position when allowed to drag it around.

[2011-06-26 02:11] haocheng opened #40 "Show rectangles after using zh_TW locale message files"
Hi,

I tried to add message files for zh_TW locale.
However, after using zh_TW properties files, several places will show rectangles instead.
Please see the following screenshots for details:
https://picasaweb.google.com/haocheng.lee/Tomighty

Thank you!

[2011-06-26 22:04] ccidral commented on #40
Hi @haocheng,

Thanks for the translation and for reporting this bug.  I will work on it as soon as possible.

[2011-06-27 02:34] haocheng commented on #40
Hi @ccidral,

Thank you for the quick reply.

Please let me know if you need any additional information :)

[2011-07-06 15:55] ydm101 commented on #17
Audio file format issue most likely due to multiple java homes or libraries used.

For troubleshooting, ask for the output of the following commands:
1. more /etc/jvm
2. java -version
3. find / -name _java_
4. find / -name _jdk_
5. Which linux OS distro - Ubuntu XXX ?? Natty / Marvin / Lucid , etc. & if [64 vs 32 bit OS] & does the jvm also match the OS?

[2011-07-09 17:55] johnstok opened #41 "Fails to run under OSX in the UK."
OSX: 10.6.8
Locale: en_UK

Java version:

[code]

Output

[code]

[2011-07-11 00:04] ccidral commented on #41
Hey @johnstok thanks for reporting this bug.  It's already fixed thanks to @dobermai: https://github.com/ccidral/tomighty/issues/7

I will release the fix in version 0.7 as soon as possible.

[2011-07-11 23:30] ccidral commented on #41
Seems like this bug is still present on Tomighty 0.7 under MacOS X Lion 10.7.  I'm fixing it right now.  Below is an error report from Don (elderpro at gmail dot com).

[code]

[2011-07-12 06:10] ArtemZ opened #42 "Bug in russian translation"
Hi,
I just installed tomighty and noticed that russian translation is broken. Many charachters not displaing as question marks.
Check out this screenshot: http://funkyimg.com/u2/884/310/Screenshot-12.png
Please, update russian translation or make possible to switch to english
P.S: I'm running Ubuntu Linux 10.10 x64, OpenJDK 6

[2011-07-12 06:15] ArtemZ opened #43 "Update official website"
Official website of tomighty still offers to download program version 0.6 while latest stable version is 0.7.

[2011-07-12 10:18] ccidral commented on #42
Ouch!  This nasty bug also happens with the Chinese translation.  Can you confirm whether this bug happens on Windows too?  I suspect it happens under Linux only.  Anyway, I will fix it in version 0.7.1 and release it until next Friday.

I will create another issue for arbitrary selection of language.

Thanks for reporting this bug.

[2011-07-12 10:19] ccidral commented on #43
Oh, that's because I did not make the official release yet.  I even changed the website's source code but could not update yet due to a technical problem.  Will do that tonighty.

Thanks!

[2011-07-12 10:22] ccidral opened #44 "Allow selecting display language"
Let users arbitrarily select the display language of their choice instead of always displaying the system language.

[2011-07-12 10:22] ccidral commented on #42
No problem, I will check that out later.  Thanks.

[2011-07-12 10:25] #32 closed, assigned to nobody

[2011-07-12 10:25] #35 closed, assigned to nobody

[2011-07-12 10:33] ArtemZ opened #45 "No sound on linux"
Hello,
I hear no sound from tomighty, no ticking or anything else. I tried to use custom tracs, but there is still nothing. Surely, my sound system is OK either Java sound system seems to be OK (for example Jitsi SIP client works normally on my computer no matter if it configured to use JavaSound or PortAudio)

[2011-07-12 12:08] ccidral commented on #45
That's a known bug, sometimes I can hear sounds on Linux (Ubuntu), but most of the time I can't.  I will try to fix that in version 0.8.

Please take a loot at issue #17, could you verify whether you see similar error messages?

[2011-07-12 23:31] ccidral commented on #43
Done.

[2011-07-12 23:31] #43 closed, assigned to ccidral

[2011-07-15 00:33] ccidral commented on #42
Just found out that this bug happens when Tomighty is built on Windows.  It's a matter of configuring Maven to read resource files in UTF-8.  I will fix that tomorrow and a bugfix release will probably come out this weekend.

[2011-07-16 20:49] ccidral commented on #40
After doing some experiments, I found out that this is a bug with TextLayout.draw().  The characters are rendered correctly with Graphics2D.drawString().

[2011-07-17 03:19] haocheng commented on #40
Hi @ccidral,

Thank you for the fix :)

I will submit a pull request then.

[2011-07-17 12:57] ccidral commented on #40
OK, I'm still trying to figure it out how to fix that, but you can submit the pull request anyway.

[2011-07-18 00:44] ccidral commented on #31
@dobermai in case you find some missing German text, please reopen this issue.

[2011-07-18 00:44] #31 closed, assigned to nobody

[2011-07-18 00:46] ccidral commented on #41
@johnstok please try the latest version of Tomighty under MacOSX Lion, let me know whether it works or not.  I will close this issue in case it works.

[2011-07-18 01:00] ccidral commented on #40
Fix done, committed and available for download as version 0.7.1.  Please @haocheng test it and let me know whether the fix works so that I can close this issue.

[2011-07-18 01:01] ccidral commented on #42
Hi @ArtemZ, the fix is committed and available for download as version 0.7.1.  Please test it and let me know if it works so that I can close this issue.

[2011-07-18 01:27] haocheng commented on #40
Hi @ccidral,

I have tested 0.7.1 and it works great!

Thank you :)

[2011-07-18 05:41] ArtemZ commented on #42
Hi @ccidral,
It looks good now. However I mentioned one untranslated phrase in tomighty's configuration: Allows dragging the window around. It can be translated as "Разрешить перетаскивание окошка".

[2011-07-18 05:41] #42 closed, assigned to ccidral

[2011-07-18 05:44] ArtemZ commented on #45
Hello,
Yeah, that's exactly the same issue, sorry for creating this double.

[2011-07-18 05:44] #45 closed, assigned to nobody

[2011-07-18 10:16] ccidral commented on #40
Nice!

[2011-07-18 10:16] #40 closed, assigned to ccidral

[2011-07-18 10:17] ccidral commented on #42
Ok, I will add this message to the file.

[2011-07-18 10:18] ccidral commented on #45
No problem.

[2011-07-19 22:45] ccidral opened #47 "Keep emitting alert sound after break is finished"
This is useful when you are away from the computer and forgot to come back after a break's end.  The frequent alert sound will call your attention.  An idea from Jeff:

   http://groups.google.com/group/tomighty/browse_thread/thread/d87deaab70e081e8

[2011-07-25 12:00] ccidral opened #48 "No notification icon with Gnome 3"
I am having troubles using tomightly with gnome 3. I start the jar,
but no icon appears in the notification area and no error is reported
as well.

Here's the output (which I guess is normal):

andrea@gimel:~/apps$ java -jar tomighty-0.7.1.jar
Jul 25, 2011 10:47:17 AM org.tomighty.log.Log info
INFO: Loading messages for locale en_US
Jul 25, 2011 10:47:17 AM org.tomighty.log.Log info
INFO: Messages

[2011-07-27 16:20] blanchma commented on #17
OpenJDK Runtime Environment (IcedTea6 1.9.8) (6b20-1.9.8-0ubuntu1~10.04.1)
OpenJDK 64-Bit Server VM (build 19.0-b09, mixed mode)

[2011-07-27 20:45] mnishizawa-gri commented on #16
Can you explain the way plugins work?  I was planning to write an integration to JIRA so I'd like to know the right way to fit it into the architecture.  While I'm at it, I could add this as well if someone else doesn't get to it first.

[2011-07-28 10:19] ccidral commented on #16
Plugin support is not implemented yet, unfortunately.  I'm planning to make it available in the next version.  My initial thoughts about plugins is that they will receive events from the core system (like when a pomodoro starts, stops or gets interrupted) as well as have access to some status information.  It's open for suggestions, however.

[2011-07-29 10:20] ccidral commented on #41
A friend of mine ran Tomighty under Lion and said it runs fine, so I'm closing this.

[2011-07-29 10:20] #41 closed, assigned to ccidral

[2011-07-29 17:11] DunkelKolar commented on #6
Yes, I would like to see this feature in the next version.

[2011-08-04 03:16] mnishizawa-gri commented on #16
That seems like a good idea.  And it would be simple enough to implement an work queue for that.

[2011-08-04 17:30] danielestevez commented on #17
Ok, so i made some research on this issue; basically your code is mostly ok but the problem lies in the JVM implementations on Linux.

Official Sun Hotspot VM is not able to access PulseAudio Linux sound system so it just can use ALSA directly causing trouble when you have some other application playing sound (i.e. Spotify). So here we have a trick u may use to force any program running under Linu

[2011-08-04 18:17] ccidral commented on #17
Good news is that the code is ok.  I was afraid of being forced to make some black magic in order to play sounds correctly on Linux.

I'm not sure about the following but I believe it's possible to select Pulse as the mixer through which Tomighty can play sounds.  It's just a guess, I will try it later on Ubuntu when I arrive home:

_groovy code below_

[code]

If the name "pulse" appear on the ou

[2011-08-04 20:11] ccidral commented on #17
Oops, I guess my theory might not work at all.  My brother ran the code above under Ubuntu 10.04 and this is the output:

[code]

His system:

[code]

Anyway, I will try some other things based on that.

I forgot the InvalidFormatException you mentioned.  It seems there are 2 different issues here. The first one is the sound system being taken over by the JVM (and failing to do so when another pro

[2011-08-05 01:45] ccidral commented on #17
On my machine with Ubuntu 11.04:

[code]

[code]

The PulseAudio mixer showed up. However, since it is not present in my brother's system, it may not be available in all systems, so trying to pick it up from the list of mixers does not seem to be a universal solution.

[2011-08-05 06:58] danielestevez commented on #17
Agreed: AFAIK there is no way to access to Pulse from Sun JDK and i don't think it's possible from Java to address this issue, it's a bug in JVM.
As you say, OpenJDK is a different issue so a specific solution could be found based on the availability of Pulse in a Linux system.

Btw, my machine is running Natty 11.04 too.

Who said Java was WORA? ;)

[2011-08-17 16:04] AdrianoFerrari commented on #25
I agree. Absolutely essential!

[2011-08-17 16:54] agileapricot commented on #25
Yes please!

It's stressing me :)

[2011-08-17 17:02] ccidral commented on #25
Moving to milestone 0.8

[2011-08-17 17:16] AdrianoFerrari commented on #25
Thanks ccidral!

This is already one of the best Pomodoro timers out there, and this one feature will push it to #1

[2011-08-17 17:39] ccidral commented on #25
Hey thanks, you're welcome.

I hope to have some spare time next week to work on Tomighty in order to get the 0.8 version out as soon as possible.

[2011-08-17 17:42] agileapricot commented on #6
I like how simple and clear this app is. There are other apps out there that do that sort of thing like Pomodairo (http://code.google.com/p/pomodairo/).

I would vote to keep it clean, light and simple.

[2011-08-17 18:02] ccidral commented on #6
Sure, I'm struggling to keep it as simple and usable as possible.  The above list of features will probably change.  I still need to sit down and take the time to think through regarding UI design and usability.  You guys are welcome to help me on this job  :)

[2011-08-19 18:56] cwarden commented on #4
The tray icon also doesn't fit in my tray.  I'm using trayer with xmonad.
![Screenshot](https://raw.github.com/gist/1157673/27d0d1367cbd94dae1821be627228a5a920b3951/Selection_001.png)

[2011-08-19 20:00] ccidral commented on #4
Ouch!  There may be some bug in the code that calculates the tray icon size. I will check it out.

[2011-08-25 20:47] cwarden opened #49 "Maximized windows are ugly"
The timer and break windows could look prettier when maximized:

![timer](https://raw.github.com/gist/5acd2d33264c64bc6de5/75c97c322e2dbb6a4d3103ca4d4470a75ed6690a/2011-08-25-133947_1598x898_scrot.png)

![break](https://raw.github.com/gist/5acd2d33264c64bc6de5/471e42c9b9072cec72cfc23703ff88b6c8ea8031/2011-08-25-134527_1598x898_scrot.png)

[2011-08-25 20:53] ccidral commented on #49
Wow, how did you do that? This window is not supposed to be maximized.

[2011-08-25 21:06] cwarden commented on #49
I made my window manager, xmonad, tile the floating window.  Admittedly an unusual use case, but I didn't want anything else on that screen, and tiling the tomighty window allowed me to hide the status bar/dock.

[2011-08-26 22:14] cwarden commented on #49
fwiw, it looks like the Gradient theme has the largest background images so it looks best.

[2011-08-28 19:50] ccidral commented on #49
That is because Tomighty caches the background into an image file after it paints it.  Probably you had the window maximized then switched themes and the new background (which was not cached at this point) was painted on a larger area. I think it's an easy change if you want to make Tomighty distinguish cached backgrounds by size.

[2011-09-13 16:11] maniqui commented on #26
Oh, I missed this issue and posted a similar (if not exactly the same) request here:
http://groups.google.com/group/tomighty/browse_thread/thread/7291180c317af34d

Will stay tuned to this issue.

[2011-09-13 19:11] ccidral commented on #26
No problem. Moving to milestone 0.8.

[2011-10-05 11:22] eugene-krivobokov opened #50 "Doesn't start in Xfce + AWN"
[code]

[code]

[code]

XFCE 4.8.0

[code]

I use Awn 0.4.1 with Indicator applet.

[2011-10-06 11:24] ccidral opened #51 "Run Tomighty on Windows startup"
Add an option that runs Tomighty when Windows starts up.

[2011-10-15 03:38] haocheng opened #52 "Cannot start tomighty in Ubuntu 11.10 with Unity 2D"
Hi,

I just upgraded to Ubuntu 11.10 yesterday and found that tomight 0.7.1 won't work with Unity 2D.
However, it does work with Unity.

Here's the error messages I got:

[code]

Thank you!

[2011-11-30 06:50] aalsaif commented on #17
I'm having the same issue and it's always happening.
1. more /etc/jvm
   /etc/jvm: No such file or directory
   but with /etc/java i got
   java/              java-6-openjdk/    java-7-openjdk/    javascript-common/
2. java -version
   java version "1.7.0_147-icedtea"
   OpenJDK Runtime Environment (IcedTea7 2.0) (7~b147-2.0-0ubuntu0.11.10.1)
   OpenJDK 64-Bit Server VM (build 21.0-b17, mixed mode

[2011-12-01 01:42] ccidral commented on #17
@aalsaif thanks for reporting.  Please could you try running Tomighty on Oracle's Java 7 JRE.  This problem is apparently solved on this JVM, at least on Ubuntu 11.10.

[2011-12-01 04:35] aalsaif commented on #17
I just tested it with Oracle Java 7 JDK and the sound is working but I still get this weird Gtk warning .

Oracle Java is no longer supported on Ubuntu as of 11.10. Is there a way to have it working on OpenJDK?

Cosole output:
aalsaif@aalsaif-LINUX:~/Java/jdk1.7.0_01/bin$ ./java -version
java version "1.7.0_01"
Java(TM) SE Runtime Environment (build 1.7.0_01-b08)
Java HotSpot(TM) 64-Bit Server VM

[2011-12-01 20:23] jarrpa commented on #17
Confirmed issue on Ubuntu 11.10 as well. Also confirmed installing Oracle Java 7 JDK solved the problem. Followed these instructions: http://www.webupd8.org/2011/09/how-to-install-oracle-java-7-jdk-in.html

I would also like to see this working under OpenJDK, but this will work for now.

[2011-12-02 17:42] ccidral commented on #17
Well at least it now works with Oracle Java 7 JRE.  I will try to fix this problem with OpenJDK as soon as I get some spare time, which will not happen anytime soon I'm afraid.

[2011-12-15 08:30] robertrv commented on #52
+1 on this issue !

[2011-12-15 20:05] ziembla opened #53 "Polish translation"
Hello, thanks for quite handy simple tool! It has just what it needs...

I'd like to add a Polish translation and have a messages_pl_PL.properties file ready but don't know how to upload it without installing git...

Can I email it or should I just paste it here in an "issue"? I've created a branch and uploaded the file there in the downloads section, can you pull it from there?

Regards

[2011-12-16 10:46] ccidral commented on #53
Sure, no problem, I will download from there.  Thanks for the translation work!

[2011-12-17 15:20] ziembla commented on #53
My pleasure.

Regards
Wojtek

[2011-12-19 15:10] w2m14 opened #54 "Arabic Translation"
# General

Default = افتراضي
Click.to.select.a.file = انقر لتحديد ملف
# Tray message

First.time.using.Tomighty? = هل تستخدم Tomighty لأول مرة؟
Click.on.the.tomato.icon.to.start.using.it = انقر فوق أيقونة حبة الطماطم للبدء في استخدامه
# Tray menu

Options = خيارات
About = حول
Close = إغلاق
# About

About.Tomighty = حول Tomighty
# Options

Save = حفظ
Cancel = إلغاء
# Options / Times

Times = الأوقا

[2011-12-22 11:52] ccidral commented on #54
Hey thanks a lot for the translation.  I will merge it into the master branch tomorrow.

[2011-12-22 11:55] ccidral commented on #52
Does it still fail on Unity 2D?  I have switched away from Ubuntu 11 to Linux Mint (Gnome 3) so I will have to setup a virtual machine with Ubuntu 11 in order to check it out.

[2012-01-01 12:19] haocheng commented on #52
Hi,

I am not using Unity and Ubuntu 11.10 since it's not stable enough (changed back to Ubuntu 11.04 and GNOME 2 now). I tried to install 11.04 in VirtualBox and run tomighty 0.7.1 with OpenJDK 1.6.0_23 and still the same error.

Thank you :)

[2012-01-02 11:20] ccidral commented on #52
The tray icon does not work on Gnome 3 either.

[2012-01-04 13:33] haocheng commented on #52
I tried tomighty on Ubuntu 11.10 Unity and it's not working, either... (I tried both OpenJDK 6 and OpenJDK 7)
Same error message.

Thank you!

[2012-01-24 02:25] Visgean opened #55 "CPU time optimalization"
It seems to me that tomighty is eating CPU for no reason, it seems to me that the update function is called every second which is completely unnecessary (i have this impression from https://github.com/ccidral/tomighty/blob/master/src/main/java/org/tomighty/time/CountdownTimer.java#L37 ), the solution is simple: the update function should be called only every minute unless it is in active state (po

[2012-01-24 12:36] ccidral commented on #55
Can you tell me a bit about your system (hardware and OS)?  On my machine (Intel i7, Windows 7) Tomighty consumes practically zero CPU time.  When the time changes it should not consume any significant amount of CPU time.

[2012-01-24 12:50] ccidral commented on #55
Also tell me how much it consumes and what JVM you are running.

[2012-01-24 13:56] Visgean commented on #55
I am running Ubuntu Natty and Tomighty 0.7.1,
visgean@rewitaqia:~$ java -version
java version "1.6.0_22"
OpenJDK Runtime Environment (IcedTea6 1.10.4) (6b22-1.10.4-0ubuntu1~11.04.1)
OpenJDK 64-Bit Server VM (build 20.0-b11, mixed mode)
I have this processor http://ark.intel.com/products/42925/Intel-Pentium-Processor-T4500-%281M-Cache-2_30-GHz-800-MHz-FSB%29 it´s last Dual-Core according to this li

[2012-01-25 21:52] VictorDenisov commented on #20
I'm thinking about adding menu item to reset pomodoro crate. I'd like to work on this feature. I really need it(in this particular form). What do you think?

[2012-01-25 22:51] ccidral commented on #20
I think it's great!  Feel free to do it, I will be glad to merge your work into Tomighty's master branch.  Just make a pull request when you are done.

[2012-02-01 11:09] ccidral commented on #48
It's a bug in the Java tray code, might get fixed very soon in OpenJDK: https://bugzilla.redhat.com/show_bug.cgi?id=683768

[2012-02-01 23:33] nuk commented on #52
Same here.
The tray icon seems to be a general problem on Unity since other apps also show errors with that.

[2012-02-05 15:44] ccidral commented on #48
A fix for the system tray issue has been released with IcedTea 1.11 on January 31:

   http://blog.fuseyism.com/index.php/2012/01/31/icedtea6-1-11-released/

A fix on Oracle's class library is under discussion:

   http://bugs.sun.com/bugdatabase/view_bug.do?bug_id=7103610

[2012-02-05 18:13] ccidral commented on #54
Some questions about this translation:
- What is the country-specific locale id? (e.g. ar-SA for Saudi Arabia)
- Can this translation be used for any arab-speaking country?

[2012-02-06 06:56] w2m14 commented on #54
It is in modern standard Arabic, so it is applicable for any Arab speaking country.

But if putting a country id is must, let it be ar-eg.

[2012-02-06 10:18] ccidral commented on #54
Thanks for the info.  I will make it country-independent.

By the way, I recommend you to sign up for the discussion list so that you can be informed about further needs of translation updates.

[2012-02-06 10:27] ccidral opened #57 "Add support for country-independent translation"
When a message file is not found by language_COUNTRY (e.g. en_US), look for it by language id only.

[2012-02-07 01:03] jarod commented on #52
same issue

[2012-02-09 00:44] ccidral commented on #20
Hey @VictorDenisov, I did something different from what you proposed (please don't be mad at me :-). Instead of using the popup menu to reset the gauge (pomodoro counter) you can click on the gauge itself to increment or reset it.

Please, pull my changes into your local repository and try it out. I would love to hear what you think about it.

[2012-02-09 02:12] VictorDenisov commented on #20
It is really awesome. However I dreamed about one click to reset. If you made a longer break after the first pomodoro you should start a new pomodoro crate(accordingly to the technique), and in the current implementation you should click three times instead of one click. So I'm thinking about, maybe, right click on the gauge to reset it. Changing the number of passed pomodoros is rarer operation t

[2012-02-09 08:35] w2m14 commented on #54
Thank you ccidral

[2012-02-09 08:35] #54 closed, assigned to nobody

[2012-02-09 09:03] #53 closed, assigned to nobody

[2012-02-15 14:08] jsynowiec opened #59 "Tags for finished pomodoros."
User should be able to set tags for finished pomodoros that would be stored in eg. sqlite/nosql database. There should also be a functionality to view statistics and graphs for those tags.
###### Possible graphs/statistics
- How many pomodoros were tagged with specific tag,
- Overall time per tag/Number of finished pomodoros,
- Amount of pomodoros per tag per time of the day.

[2012-02-20 20:32] ccidral commented on #59
This feature is very similar to the one described by issue #5.

However, I'm considering to make both the tagging feature and the recording/storage feature two separate plugins.  This would allow others to make plugins that implement tagging or recording in different ways.  Someone might want to record statistics on a remote host, for instance.  What do you think of this?

[2012-02-21 09:02] jsynowiec commented on #59
Similar, but #5 is more about naming tasks that user is working on, and this one is about keywords for them.

[2012-02-21 10:30] ccidral commented on #59
It just does not mention the method used for naming pomodoros, which will be the assignment of multiple tags.

[2012-02-22 11:05] ccidral opened #60 "Window doesn't show with taskbar in second screen"
From Daniel https://groups.google.com/forum/?fromgroups#!topic/tomighty/d1BReS-xUww:

[2012-02-22 11:17] ccidral opened #61 "Terminate gracefully when there is no system tray available"
This is to avoid errors like [this one](https://groups.google.com/forum/?fromgroups#!topic/tomighty/MOvHKgdDTH8):

[code]

[2012-02-22 11:29] ccidral opened #62 "We need a manual!"
[This guy](https://groups.google.com/forum/?fromgroups#!topic/tomighty/fOqwxas0i6s) had some trouble figuring out how to configure Tomighty. Other people may have had some hard time too. A simple manual can make life easier for newcomers.

[2012-02-22 11:30] ccidral opened #63 "Documentation for plugin development"

[2012-02-22 11:37] ccidral opened #64 "Replace current IoC code by Google Guice"
Now that we have plugin support, Guice looks more interesting to plugin developers than our current crippled IoC container.

[2012-02-22 12:06] ccidral commented on #14
Basic plugin support is done (cf6dda48e33b629af2f1aeca62e8c5150d52ea75, 52d17ad8dae30af0a874f02e4093dc0d5046d2d1). Documentation should be available soon. Here is a hello world plugin sample: https://github.com/ccidral/tomighty-helloworld-plugin

[2012-02-22 12:06] #14 closed, assigned to nobody

[2012-02-25 04:03] pckujawa opened #65 "Often slow response to tray clicks"
I love tomighty - it's the perfect pomodoro tool for me (using 0.7.1 for several months now). Unfortunately, I often get frustrated because the app is slow to respond (i.e. show the tomighty window) to tray icon clicks. I thought this was just [my system](http://dl.dropbox.com/u/313647/laptopSpecs.pdf) (Win 7 Pro 32 bit, JRE 1.6.0_29-b11), but I just discovered the same issue on my work iMac (OSX

[2012-02-25 07:53] b39ppr commented on #26
I just sign up on github to support this feature. I need it badly as I always find myself ignoring the Start pomodoro button after a break :) An auto start option would be nice. Tomighty rocks!

[2012-02-25 15:59] dobermai opened #66 "Provide an API Dependency for Plugin Development"
Currently we need tomighty as a dependency for Plugin Development. It would be great, if there would be a "Tomighty API" package, where all the Interfaces and Hooks needed for Plugin Development are provided. Tomighty itself could use this package as well.

[2012-02-25 16:24] ccidral commented on #66
I totally agree.

[2012-02-26 12:48] ccidral opened #67 "Replace current homemade logger with SLF4J"

[2012-02-26 12:50] ccidral commented on #64
We're using [Mycila](http://code.google.com/p/mycila/) too, which brings in support for JSR250 stuff (lifecycle management, etc).

[2012-02-26 12:50] #64 closed, assigned to nobody

[2012-02-26 15:16] dobermai opened #68 "Create "Uber JAR" which packages tomighty with all Dependencies"
We cold use the Maven Assembly Plugin to package tomighty with all dependencies, so we can start tomighty with "java -jar" without modifying the classpath

[2012-02-26 15:19] #68 closed, assigned to nobody

[2012-02-26 17:48] #67 closed, assigned to nobody

[2012-03-15 12:02] ccidral opened #72 "Let the user give a name to its current task"
The user should be able to freely type a tag name in the main window to indicate its current task.  Timer events should carry this tag name.  Plugins can use the tag name for task managing and recording.

More on this here: https://groups.google.com/forum/#!msg/tomighty/m1o9JeZsbFE/iM00UQTO9RQJ

[2012-03-15 22:13] ccidral commented on #5
Task recording will not be built in Tomighty's core code. This should be handled by some plugin. See issue #72.

[2012-03-15 22:13] #5 closed, assigned to nobody

[2012-03-15 22:14] ccidral commented on #6
Task managing will not be built in Tomighty's core code. This should be handled by some plugin. See issue #72.

[2012-03-15 22:14] #6 closed, assigned to nobody

[2012-03-15 22:14] ccidral commented on #59
Task recording will not be built in Tomighty's core code. This should be handled by some plugin. See issue #72.

[2012-03-15 22:14] #59 closed, assigned to nobody

[2012-03-16 00:05] hansbkk commented on #72
So specific wishlist of "core plugins" for handling the task name. I personally only need the first, the second is speculative only to handle the needs of people requesting this functionality be included in Tomighty.

---

A. For users using a web-based issue/bug tracking system
- Similar functionality to Pomodaire, where a "hash+string" in the name allows the user to open a browser window to the

[2012-03-26 11:52] lecterror commented on #11
+1 to this, it is highly unpleasant when tomighty dings as loud as Fear Factory song you're currently listening! >_<

[2012-04-20 23:26] ccidral commented on #66
I think we're done here. The API module is already available.

[2012-04-20 23:26] #66 closed, assigned to nobody

[2012-05-03 23:35] dobermai opened #73 "Maven Archetype for Plugins"
We need an Maven archetype for Plugins. Plugin developers could start with a standard structure of tomighty plugins including the standard "installation" routine etc.

What has to be created automatically:
- Plugin installation process
- Tomighty properties File
- Plugin Base Class
- Perhaps a small working hello world example?

[2012-05-04 09:30] dobermai opened #74 "Add ability to disable plugins programmatically"
It should be possible for Tomighty to disable Plugins. The use case would be, that we can disable Plugins which do not work when loading.

[2012-05-06 11:54] dobermai opened #75 "Interrupted Event published when Restarting a pomodoro"
When a Pomodoro is restarted, an interrupt event gets published. A restart event should be published instead.

[2012-05-08 13:15] dobermai opened #76 "Deactivate Plugins in Tomighty Preferences"
It should be possible to deactive Plugins in the Preferences Window of Tomighty. The prerequisite for this is, that Tomighty is aware of its plugins.

[2012-05-11 10:05] lszyrmer opened #77 "please give guidance on replacement wav file length"
As I changed the wav file, I think it takes longer, as I think the code presumes the wav is of a certain length of time, and I can't seem to find the original wav file.

[2012-05-12 16:40] dobermai commented on #77
The Wave files for tomighty are located in tomighty-swing/src/main/sounds

I am not sure if it is possible to change the sound files at the moment. Perhaps @ccidral can give a better adive here.

[2012-05-12 20:33] dobermai opened #78 "Add Plugin Submenu"
A new Menu Entry "Plugins" should be visible when at least one Plugin is enabled. This Plugin Submenu should be before the Settings Menu Entry.

Every Plugin could hook in and provide it's own menu Actions (or Submenus). So every plugin could provide it's own windows if needed. (This would be useful for the statistics Plugin, which can show its statistics and charts in a separate window - just lik

[2012-05-12 22:46] dobermai commented on #78
Before closing this, what do you think about that @ccidral

[2012-05-13 15:07] ccidral commented on #77
You can change the sounds on the options window.  Sound files of any length should work because the code does not presume a length for any of the sounds.  What does it happen when you change a sound?

[2012-05-13 15:35] lszyrmer commented on #77
After replacing the tick sound, I had the impression that the break lasted much longer than 5 mins, and I guessed that it was because the code assumed the sounds were of a certain length. I'll take a look based on the location above.

[2012-05-13 15:42] ccidral commented on #78
Sure, that's definitely necessary.  We will also need a menu item for the plugin manager window, so maybe we can have a menu structure like this:

[code]

What do you think?

[2012-05-13 15:45] ccidral commented on #77
I would like to try what you did.  Would you send me your tick sound file?  I will replace the tick sound too and see what happens.

[2012-05-13 16:03] ccidral opened #79 "Configurable pomodoro counter"
The number of pomodoros in the pomodoro counter is always four.  Make it possible to change this number on the options window.

[2012-05-13 19:16] dobermai commented on #78
Great idea. I implemented a similar structure in the current master of tomighty. To try it out, there is the tomighty-statistics plugin (clone https://github.com/dobermai/tomighty-statistics-plugin, do a mvn clean install) and the plugin will appear.

[2012-05-14 09:59] lszyrmer commented on #77
I'd be happy to send it but I don't see an email address on your github profile, and I can't reply directly to the email notification from github. Please advise.

[2012-07-17 06:55] gizmecano commented on #51
I think that the software should be able to start at **Windows** startup, but not directly start a timed session.

[2012-08-02 21:50] appel opened #80 "Any particular reason there's no .app available at tomighty.org?"
First of all, wonderful app, thanks!

I bundled tomighty-0.7.1.jar into an .app with Jar Bundler so I can put it in the dock. Used the .icns icon I found at [gettyicons.com](http://www.gettyicons.com/free-icon/176/paradise-fruit-icon-set/free-tomato-icon-png/) so it looks just like the real thing. Works great in Mountain Lion. Let me know if you'd like a pull request (assuming you already got perm

[2012-08-21 16:46] gustavobarbozamarques-old commented on #17
thanks, i solved this problem. i update to oracle jdk 7 in my linux.
My game: https://sites.google.com/site/asteroidsrain/

[2012-09-04 15:58] moazreyad opened #81 "Debian/Ubuntu package"
It will be great if there is a debian package for installing on debian and ubuntu.

Is anyone working on this already?

[2012-09-04 16:29] ccidral commented on #81
Nobody is working on that. Would be great though. Can you do it?

[2012-09-17 05:25] sakai-to opened #82 "Japanese Translation"
Hello,

I have made a Japanese translation file of Tomighty and placed it in my fork of your repository.
Could you merge it to your repository?

Thank you.

[2012-09-18 14:18] ccidral commented on #82
Sure, I will merge it. Thanks for the translation.

[2012-09-18 14:19] ccidral commented on #82
By the way, would you mind making a pull request for your translation file?

[2012-09-18 14:32] sakai-to commented on #82
I've made a pull request for this issue just now.
Thanks.

[2012-09-19 00:22] ccidral commented on #82
Thanks, I will merge it.

[2012-09-19 00:23] ccidral commented on #82
Done.

[2012-09-19 00:23] #82 closed, assigned to nobody

[2012-09-19 20:02] appel commented on #80
Did I say something stupid? If so I apologize, probably got a little carried away by my enthusiasm. Thanks anyway for a great app.

[2012-09-19 20:12] ccidral commented on #80
Absolutely not! Please forgive me for not replying your message, I read it some days ago and completely forgot to answer it (I've been off Github for a few weeks).

A .app file would be wonderful. I don't know Jar Bundler however. Does it integrate with Maven?

[2012-09-19 20:43] appel commented on #80
Well, that's a relief :) No worries, thanks for getting back to me! Honestly, I have no idea (yet) what Maven is, I have literally zero experience with java. But if you like (and assuming you're rocking OS X) I could just share the .app with you through dropbox so you could run/test it yourself.

[2012-09-19 20:44] jrgifford commented on #80
Looks like something can. - http://mojo.codehaus.org/osxappbundle-maven-plugin/

[2012-09-19 21:05] ccidral commented on #80
Great, I will give it a look as soon as I can. Thanks!

[2012-09-27 13:03] moazreyad commented on #81
I made a first version of the Debian package here:

https://dl.dropbox.com/u/3368180/tomighty_0.7.1.deb

To run the application:

$ java -jar /usr/share/tomighty/tomighty-0.7.1.jar

The building script is here:

https://dl.dropbox.com/u/3368180/tomighty.debian.build.zip

to build the Debian package, extract the zip file and execute:
$ ant

Todo:
- Create a shell script to start the application
- A

[2012-09-30 12:34] ccidral commented on #81
Great job! I will integrate it with the current Maven build configuration. Thanks.

[2012-10-28 07:27] Kurtas opened #84 "Change skype status Do not distrurb (or offline mode)"
Hi,

Could you implement changing skype status when pomodoro will start or break is taken?

Thanks a lot

[2012-11-10 09:19] ccidral opened #85 "Move tray menu items to the popup menu"
Tomighty's tray behavior is very confusing on Mac OS X. When you click on the tray icon, it randomly shows either the tray menu or the main window, and sometimes it shows both. We should move the tray menu items to the popup menu that is shown when you click on that little arrow in the main window.

[2012-12-14 21:39] rschuetzler opened #86 "Time remaining is confusing"
The time remaining (in minutes) should round up to the next minute. The only time it's a problem for me is with 1 minute remaining. After it shows 1 minute remaining for a full minute, it then begins the last minute countdown. 1 minute remaining should never be shown if there is a 60 second countdown.

[2012-12-15 13:00] ccidral commented on #86
Makes sense. Thanks for the feedback, I will make this change available in the next version.

[2012-12-15 13:06] ccidral commented on #85
Done.

[2012-12-15 13:06] #85 closed, assigned to nobody

[2013-01-05 12:09] gEndelf commented on #60
+1
- laptop + monitor
- Oracle Java 1.7_10
- ubuntu 12.10

[2013-01-24 12:40] sublimino commented on #84
+1 this is a great feature

[2013-01-25 21:45] marthjod commented on #52
Same error here (Unity 2D as well as GNOME Classic on Ubuntu 12.04.1). Would be great not having to use Unity "3D" when I want to use tomighty. Works fine on standard Debian Squeeze's GNOME, though.

[2013-02-07 18:11] LukenShiro commented on #50
Unfortunately it doesn't work with LXDE, too. It seems to definitely need a system tray.

[2013-03-03 12:59] appel commented on #80
Sorry it took me this long to get back to you, life has a way of getting in the way ;)

Here's the link to the .app at Dropbox, should you still be interested.
https://www.dropbox.com/sh/xqloc1boh47iifr/mQeQXNJc_e

[2013-03-18 16:34] ccidral commented on #65
Does this problem still occur?

[2013-03-25 12:45] floe commented on #52
Had the same issue with Unity 2D on Ubuntu 12.04.2.
A workaround is described here: https://groups.google.com/d/msg/tomighty/MOvHKgdDTH8/40KIbOeUnKwJ
Note: I had to set the whitelist to ["all"] to make this work.

[2013-03-25 17:34] ccidral commented on #79
Hi @csrcordeiro, thank you very much for the patch. The code seems fine. I will merge it to my local repo and then check it out later.

[2013-06-14 14:11] rsnitsch opened #89 "Use proper application data folder on Windows (AppData/Roaming)"
Currently, tomighty stores configuration data etc. in %USERPROFILE%/.tomighty (e.g. C:\Users\Robert.tomighty).

The proper directory, however, is %APPDATA% (e.g. C:\Users\Robert\AppData\Roaming).

[2013-06-14 14:18] rsnitsch commented on #89
This is a bug in Java itself: user.home is wrong on Windows.

This bug has been fixed in JDK 8.

See http://bugs.sun.com/view_bug.do?bug_id=4787931

[2013-06-17 12:55] snipem opened #90 "Option to hide the "Take a break" window (from co workers eyes)"
Subject explains it. I'd like to have tomighty only as a minimized icon

[2013-06-18 06:54] gumb0 commented on #90
+1
The lack of it stops me from using tomighty at work :(

[2013-06-18 15:48] snipem commented on #90
I got around this with this change on my fork:

https://github.com/snipem/tomighty/commit/b1ce7dc4acf068c8af38a656d7e14609a385cd10

Might not suit all, but does it for me. I've tested it on Mac and Windows.

[2013-06-28 12:27] ccidral commented on #89
Thanks for reporting, I'll see what I can do to make it work on JDKs prior to 8.

[2013-07-03 15:42] mysteryDate commented on #80
The app is not working for me (OSX 10.8.4). Literally nothing happens when launching the application (besides the OS warning be that it is "an application downloaded from the internet. Are you sure you want to open it?")

[2013-07-03 15:44] mysteryDate opened #91 "Icon bar no longer responds to clicks (OSX 10.8.4)"
I've been using tomighty for months now, but after an OSX update, it no longer works. The tomato appears in my menu bar, but nothing happens (besides a brief gray square) when it is clicked on.

[2013-07-03 22:54] ccidral commented on #91
Which version of Java are you running?

[2013-07-04 13:23] mysteryDate commented on #91
I'm running 1.6.0_34, I also posted this problem on the google groups (sorry for the x-posting!) and it was solved by updating to Java version 7! Thanks so much for your support (not to mention your program).

[2013-07-04 13:23] #91 closed, assigned to nobody

[2013-07-04 13:28] ccidral commented on #91
No problem :)

[2013-08-05 12:27] lrozenblyum opened #92 "Windows7 shutdown and tomighty"
When I shut down the Windows 7 Professional 64-bit system and Tomighty is running, it's always shown in the list of processes that cannot be closed in a 'graceful' way and prevent shutting down (so I need terminate it).

Can this be improved so Tomighty will somehow better behave on Windows shut-down?

[2013-08-23 07:53] susseau opened #93 "Adjustable size"
Hi,

First of all thanks for great app! I am using it on daily basis since I first installed it and it does its job marvelously.

I wonder if it is possible to make timer window size adjustable? On 24" monitor it is pretty small and sometimes I miss when the window pops up.

Thanks,
Michal

[2013-08-23 13:34] ccidral commented on #93
Hi. Yes, it's possible. We could adjust the size of the window by setting a proportional value, like 120% for instance.

[2013-08-23 14:04] susseau commented on #93
Great. I'll be thankful for that :)

[2013-09-29 14:32] appel commented on #80
Sorry it took me this long to respond, had some problems with a botched OS X install which I only came around to fixing last night (don't ask).

I just tried running the .app on my fresh 10.8.5 install and - although it's by no means a smooth ride - it does work. It's possible that Dropbox is messing up the app, so I've uploaded it to box.net instead, perhaps that fixes the problem for you. https:

[2013-09-29 15:10] appel commented on #80
Apparently it's a feature, not a bug:
http://www.yourkit.com/download/mountain_lion.html

In short, you have to temporarily disable Gatekeeper (http://en.wikipedia.org/wiki/Gatekeeper_(OS_X)) in order for it to run. Why Apple chooses to display an error message that implies the .app is damaged instead of just indicating it's locked for security reasons is beyond me.

Re-upped the app to Dropbox, t

[2013-09-29 15:24] mysteryDate commented on #80
I pulled from your dropbox and everything is working perfectly! Thanks.

[2013-10-29 10:47] morewings opened #94 "No status bar icon on Mavericks"
Installed on Mac OS X Mavericks and don't see any status bar icon. See screenshot.
![screen shot 2013-10-29 at 12 46 51](https://f.cloud.github.com/assets/1158959/1427325/71fcc9d4-4087-11e3-838e-7fd8f491914a.png)

[2013-10-29 13:54] ccidral commented on #94
Thanks for reporting.  I'm still trying to figure out how to fix that.  I'm perplexed about how it looks fine on Mountain Lion but on Mavericks the icons are all messed up.

[2013-11-06 02:05] ccidral commented on #94
Fixed and released. Please download the new version at http://www.tomighty.org

[2013-11-06 02:05] #94 closed, assigned to ccidral

[2013-11-06 02:13] ccidral commented on #80
I know this issue refers to the Java version of Tomighty, but since Tomighty for Mac is already out I think it's okay to close this issue.  The native OSX version is available for download at Tomighty's website, and the git repository is here: https://github.com/ccidral/tomighty-osx

[2013-11-06 02:13] #80 closed, assigned to nobody

[2013-11-06 18:23] zoolib commented on #94
I've got scrambled icons in a different application -- what was going wrong in tomighty that you fixed (as the change doesn't appear to be committed yet)?

[2013-11-06 18:43] ccidral commented on #94
@zoolib The source code for Tomighty for Mac is at another Github repository: https://github.com/ccidral/tomighty-osx

This is the commit that contains the fix: https://github.com/ccidral/tomighty-osx/commit/0f5a91211d4510bd46cc59a3f77d0639f7af3333

[2013-11-06 18:47] zoolib commented on #94
Brilliant, thank you.
As it turns out my bug was completely different. I was not properly retaining the buffer holding the actual pixels, and on Mavericks we're drawing once per screen, so things might work fine on the first screen, but not on the remainder.

[2013-11-07 02:04] jvoisin commented on #50
[code]

But it works.

[code]

[code]

[2013-11-21 21:41] rschuetzler commented on #47
I'd love this. I frequently forget to start a pomodoro when I get back to my desk.

[2014-01-08 20:17] stanleywinston commented on #25
Is this still coming? Would make this the perfect pomodoro app IMO, the ticking noise stresses me out during breaks though so I'm turning it off and using a separate timer.

[2014-01-08 22:26] CrazyPyro commented on #25
This should be marked as complete.  I'm running 0.8, and in the Options, there's a Sounds tab with an "Enable tic-tac" box that you can un-check.

[2014-01-10 01:55] ccidral commented on #25
@stanleywinston Yes, it is. I have plans to scrap the Java version of Tomighty and replace it by a .NET version, so it might take a while.

[2014-01-13 15:47] jab opened #95 "s/tic tac/tick-tock"
At first I had no idea what was meant by "tic tac". (Tic-tac-toe?) I think the wrong spelling is being used?

See http://en.wiktionary.org/wiki/tic_tac vs. http://en.wiktionary.org/wiki/tick-tock

[2014-01-13 20:29] ccidral commented on #95
You're right, wrong spelling. Thanks for pointing that out.

[2014-01-13 21:12] CrazyPyro commented on #25
@ccidral, waitwhat - a .NET rewrite?  Why?  (Sorry if there's a better place to discuss this - just let me know.)

As far as this issue, goes, shouldn't it be closed per my previous comment?  I see there's a new issue #95 that might help eliminate any other confusion on this.

[2014-01-13 21:40] CrazyPyro commented on #95
Good idea, could help eliminate confusion like in #25
Amusingly, the current top Google result for "tick tock" is a pop song by "Ke$ha" :)

[2014-01-14 02:03] ccidral commented on #25
@CrazyPyro Some aspects of Java's GUI toolkit don't behave well in some platforms.  For example, the system tray is not supported in some desktop environments (see #48, #50 and #52).  Also in some desktop envs the system tray icon lacks support for transparent background.

I want to write native versions for each major operating system (Linux, OSX and Windows) to eliminate those problems.  The OSX

[2014-01-24 01:06] CrazyPyro commented on #25
Hmm, I can appreciate the tension and trade-off between cross-platform portability vs native feel.  Personally, I lean heavily in favor of the former at the expense of the latter, but I understand many would feel the exact opposite.  But it sure is a shame to write the same thing 3 times (at least).  Especially since it seems like 90% of the problems are related to the System Tray, and that those

[2014-02-05 12:31] guillaumemarcade opened #96 "No sound on Ubuntu 13.04"
I get this error when tomighty is trying to play a sound.

[code]

Stackoverflow topics on this error :
- http://stackoverflow.com/questions/18942424/error-playing-audio-file-from-java-via-pulseaudio-on-ubuntu
- http://stackoverflow.com/questions/16001379/play-wav-file-in-jar-java-netbeans

[2014-02-05 18:18] ccidral commented on #96
Hi @guillaumemarcade, this issue is a duplicate of #17. What version of Java are you running?

[2014-02-06 03:19] guillaumemarcade commented on #96
OK my bad I haven't seen this issue.

I had open-jdk and installed oracle's one. Now it works fine.

Thanks

[2014-02-06 03:19] #96 closed, assigned to nobody

[2014-02-06 09:37] ccidral commented on #96
No problem :)

[2014-04-02 21:34] piotr-sobczyk opened #99 "Can't generate installer"
I thought it will be as easy as mvn clean package, but it wasn't :/.
1. It seems that `generate-project` and `compile` goals are no longer valid for nsis-maven-plugin. Respectively `generate-headerfile` and `make` should be now used instead (see: http://mojo.codehaus.org/nsis-maven-plugin/plugin-info.html)
2. I updated pom.xml to use the correct goals but for some reason they weren't executed by p

[2014-04-20 01:50] sysfu opened #100 "Undefined symbol VERSIONED_JNI_LIB_NAME error launching tomighty on PC-BSD 10x"
I was able to successfully build tomighty on a PCBSD 10x system however I'm getting the following error when trying to launch it from the terminal

[code]

Environment:

[code]

[2014-04-26 09:35] tuweifu opened #101 "Questions about the software font"
Hi,
In some Chinese system
Font shows that there is a problem, Make the Numbers on the tray icon can't see clearly.
Please see the following screenshots for details:
## http://www.0597toyota.com/Public/uploads/tomighty.gif

I'm sorry, but I'm not familiar with English, the above content is to use translation software.I hope you can understand this.

[2014-04-26 09:38] tuweifu commented on #101
I try this default font set the Java environment, but have not been successful, if it can be used in software Settings specified font, it might be resolved.
@ccidral, Thank you!

[2014-04-26 10:26] piotr-sobczyk commented on #99
Now I know that I should enable maven profiles to include generating executable and installer, so I should run build as:

`mvn -P Windows,Installer clean pacakge`

[2014-04-26 10:26] #99 closed, assigned to nobody

[2014-05-05 16:49] sysfu commented on #100
This issue has gone away with a build of the latest tomighty from git and the latest Edge pkg set in PC-BSD.

[2014-05-05 16:49] #100 closed, assigned to nobody

[2014-05-05 16:52] sysfu opened #102 "No audio on PC-BSD 10.0.1 with pulseaudio server"
I am able to build and launch Tomighty 0.8.0 on PC-BSD 10.0.1 however this is no sound. Here's the relevant output from the console

[code]

[2014-05-08 03:29] techieshark opened #103 "pomodoros should persist across logout/logins"
I'm a huge fan of tomighty. Thanks for this cool, slick tool!

Feature request:

Sometimes I log out then back in during the day. I'd love for the pomodoros to persist (for the count to be continuous over the entire day).

I'm curious if other people think that'd be a good feature too.

Thanks!

[2014-05-09 23:47] ccidral commented on #100
Hi @sysfu, thanks for reporting this issue and updating it. Sorry for not replying to you before, I'm having a hard time finding some spare time to work on Tomighty.

[2014-05-09 23:50] ccidral commented on #102
Hi @sysfu, thanks again for reporting this other one issue. As I said in another comment, I'm having a hard time finding spare time to work on Tomighty, so I'm afraid I won't be able to look at this issue at any time soon. If someone else could take the time to dig this problem, I would be grateful.

[2014-05-10 00:01] ccidral commented on #103
Hi @techieshark, it's awesome that you find Tomighty cool and useful. I totally support this feature request, but I'm afraid I can't tell when I will be able to work on it as I'm having a hard time trying to find spare time to work on this project. I would be grateful if someone else could donate his/her time to work on this and other issues.

[2014-05-10 00:10] ccidral commented on #99
Hi @piotr-sobczyk, I'm sorry for not replying to you in time. I could not find the time to work on Tomighty lately, and I'm afraid I can't tell when I will be able to work on it again.

[2014-05-11 18:23] techieshark commented on #103
No worries @ccidral. Thanks for the support for the idea. One of us, or another user, can get to it when we can get to it!

[2014-07-11 19:49] donovankeith commented on #11
Yes please! The ticking sound is nice, but it's a bit loud overall for me - and I could stand to have the alarms a bit louder. In addition to individual adjustments, an overall volume adjustment for the app would be great.

[2014-07-16 14:43] ccidral opened #105 "Translation to the dutch language"
The translation file is available at:

https://groups.google.com/forum/#!topic/tomighty/Ui46YwoqSmY

[2014-08-10 17:30] leonardiwagner commented on #101
It's your chosen font! This isn't a tomighty issue at all.

[2014-08-10 17:35] leonardiwagner commented on #25
I think that ticking sound should be disabled by default. I'm pretty sure that a lot of people doesn't use tomighty due to ticking sound as default.

Also, ticking sound is useless, plus the 25 min is all about being focused in a task.. and ticking sound is against that!

[2014-08-24 04:07] AlexArchive commented on #8
I was about to submit an issue about this - just commenting to let you know that I want this too. Maybe this will be more viable now that you are using Qt.

[2014-08-25 11:36] ccidral commented on #8
I think Qt is much more consistent across platforms.

[2014-08-29 17:31] pwr22 commented on #81
Since this page comes up in a Google search for "Tomighty Ubuntu", I though I would post that I've packaged 0.7.1 [here](https://launchpad.net/~pwr22/+archive/ubuntu/tomighty)

[2014-10-21 14:43] sgabler opened #106 "Icon not visible in Yosemite's "dark menu bar""
![screen shot 2014-10-21 at 16 38 28](https://cloud.githubusercontent.com/assets/3625477/4720324/40f55bfe-5930-11e4-9834-8cf1a015ca53.png)

Yosemite has introduced the "dark menu bar and Dock", which leads to the tomighty icon no longer being visible. Only if you click on the area where you think it might be, it's visible (see screenshot).

Can we modify the existing icon, or put another one based

[2015-01-09 11:24] rochapablo commented on #65
@ccidral Yes! =/

[2015-01-28 22:23] ghost opened #107 "Java free version"
I really like tomighty.

It would be wonderful if Java wasn't required for it to run (on windows).

~~At the moment Java is deemed quite a substantial security risk which quite a few users are not willing to take. ~~ I guess this only applies to the browser plugins.
Then again, People need to install Java. On my machines Java always seems to be in some sort of perpetual update cycle which fails an

[2015-01-28 23:23] ariel-rios-movile commented on #107
@GoodKey I would like to hear more about that "security risk" that you are talking about... what do you mean?

[2015-01-28 23:37] TheDarkTrumpet commented on #107
I think what he means is something like this chart:

http://www.cvedetails.com/product/1526/SUN-JRE.html?vendor_id=5
http://www.cvedetails.com/product/19117/Oracle-JRE.html?vendor_id=93

http://www.reuters.com/article/2013/01/14/us-java-oracle-security-idUSBRE90D10P20130114

While a lot of the java issues are integrated with the browser, and thus
applets/java/flash should be "click to enable" or f

[2015-01-29 11:09] ghost commented on #107
I must admit it perhaps was stupid to open an issue on this. I think TheDarkTrumpet explained where my fear came from.

Still Java runtime can be quite troublesome, won't you agree? (e.g. perpetual update cycle problems)

[2015-01-29 11:43] ccidral commented on #107
Hi @GoodKey.  A few months ago I started rewriting Tomighty in Qt5/C++, which means we're moving away from the Java platform. The main reason is AWT's tray icon, which plays a key role in Tomighty, behaves inconsistently across platforms.  The new source code can be found in the `develop` branch.  The development has been halted, though, because I'm unable to work on the project at the moment, but

[2015-01-29 11:43] #107 closed, assigned to nobody

[2015-02-13 18:02] rcdmk commented on #39
I second this. Specially on multimonitor setups.
It would be awesome to have a setting to enable/disable this.

[2015-02-13 19:02] rcdmk opened #108 "C++ version fails to build under MingW on Windows 7 64bit"
I've tried to build the new version on a Windows 7 64bit machine under MingW with Qt 5.4 and dit not succeed at first.

I had to include `#include <stdexcept>` on 2 files to get it built:
/src/core/impl/StandardTimer.cpp
/src/ui-tests/mock/MockTrayIconFiles.cpp

After this I could not run the app. Even copying the other .DLL files required to run to the "/build/app/release" folder did not allowed

[2015-03-19 08:23] sgrosse commented on #106
+1

[2015-04-02 23:07] prudnitskiy opened #109 "google.code shutdown and release problem"
Hello, Celio!

Thank your for your work. Information you need to know: google plans to shut down Google Code where your release file is located. You need to move the RTU files to another location, or they'll be inaccessable.

[2015-04-13 22:24] pperez commented on #106
+1 :+1:

[2015-04-23 22:59] prudnitskiy opened #110 "tomighty crashes on 10.7"
Tomighty crashes when timer ends. No matter enabled sounds or not, matter, no pomodoro timer or break timer. Some parts of crash report:

[code]

[2015-04-24 20:21] ccidral commented on #110
Thanks for reporting it.

[2015-04-30 13:45] ghost opened #111 "OSX - Timer pauses when computer sleeps"
Hello,
I recently wanted to try the pomodoro technique so I downloaded your app which looks really nice.

I noticed that when I let it run on my lap top and I am doing something else like reading, at some point my computer will sleep and the timer of Tomighty just pauses. It resumes when computer wakes again but at the same time where it paused ...

Is it possible to do something ?
Thanks for your

[2015-05-19 13:39] andreyz commented on #106
:+1:

[2015-07-08 14:14] androclus commented on #50
i have been using tomighty for quite a while now, and loving it.

but unfortunately, i am now dead in the water, too. just recently, i too started getting this error, too:

$ /usr/bin/java -jar tomighty-0.7.1.jar
Jul 08, 2015 7:04:40 AM org.tomighty.log.Log info
INFO: Loading messages for locale en_US
Jul 08, 2015 7:04:40 AM org.tomighty.log.Log info
INFO: Messages not available for locale en_US.

[2015-07-08 22:20] npecheux commented on #110
Same for me.

[Log file](https://www.dropbox.com/s/6ovglpps4sst0v9/Tomighty_2015-07-08-223326_lalita.crash?dl=0)

[2015-07-09 06:41] vysogot commented on #110
Same here. It's a nice app, minimal, any fix possible for good ol' 10.7?

[2015-07-10 14:20] ccidral commented on #110
Hi, I have been unable to work on the project for a long time now, and
honestly I'm afraid it will remain inactive for an indefinite time because
I'm not finding enough time to work on it. I'm very sorry for that. I feel
bad for not being able to fix the problems you're having. I hope you guys
understand.

My regards,
Celio
Em 09/07/2015 03:41, "Jakub Godawa" notifications@github.com escreveu:

[2015-07-10 14:42] npecheux commented on #110
You should use the pomodoro technique to find more time to address all your projects :-p

Nico

[2015-07-13 09:24] sgrosse commented on #106
+1

[2015-08-31 06:43] rodiontsev commented on #108
It might be too late for @rcdmk, but I will leave the instructions how to build Tomighty for other developers:
1. [Download](http://www.qt.io/download-open-source/) Qt5. I used the Qt Online installer for Windows
2. Install it
3. Open the command line `cmd.exe` and add the following directories to the `PATH` variable:
   - `<Qt Install Dir>\5.5\mingw492_32\bin`
   - `<Qt Install Dir>\Tools\mingw49

[2015-09-24 14:11] treestryder opened #112 "Add a simple journaling mechinism."
I see there are several feature requests for various forms of task management, when all I am looking for is a simple free-form text field that would log an entry in a specified log/journal file for each pormodoro. Other systems could parse this text file, to achieve some level of task management, but I only want a record of what I have worked on -- to refresh my memory from time to time.

Thank yo

[2015-10-06 00:54] dfl opened #113 "show timer as part of icon in OSX menu bar"
it would be nice to see the timer countdown at a glance without having to click on the icon to reveal it.
perhaps this could be a configuration option

[2015-10-20 09:41] m9n commented on #106
Workaround - if anyone else needs this:
1. If you haven't already, quit Tomighty (don't know if this is necessary, but I didn't want to modify the contents of the app with it still running).
2. Open a Finder window and go to Applications > Tomighty(.app), secondary-click and choose "Show package contents"
3. Inside the Tomighty.app package, navigate to Contents > Resources.
4. Back up the file 'st

[2015-10-24 06:42] carlosjgp commented on #106
:+1:

_m9n_, nice approach!

[2015-11-19 12:20] #55 closed, assigned to nobody

[2015-12-14 10:41] Sgoettschkes commented on #106
@m9n This works great, thank you.

[2015-12-19 12:40] maliayas commented on #108
Thanks for your help. I can build and run the app using the above commands. However there is no UI except tray icon. "Prefs" and "about" windows doesn't open, Double clicking on the tray icon also doesn't do anything. Right click menu, starting/stopping pomodoro and sounds work. Have I done something wrong?

[2016-01-26 14:02] dody87 commented on #106
it works. Thanks @m9n.

[2016-02-09 13:53] luebken commented on #106
@m9n thanks. works.

[2016-02-14 10:09] dreispt opened #114 "Provide an executable download for Linux"
It's notable that the http://tomighty.org web page does not provide a Linux download.
It would be great to provide one.

As it might be useful for other people on Linux, it was brought to my attention a compiled JAR file available for download at http://tomighty.googlecode.com/files/tomighty-0.7.1.jar
This with a shell script could provide a working Linux version.

[2016-02-24 19:45] laviyatziv commented on #11
+1

[2016-03-04 15:33] gkerenyi commented on #108
I have the same problem as maliayas. Any suggestions?

[2016-03-11 02:59] christianmagill commented on #113
I love this suggestion!

[2016-03-11 03:03] christianmagill commented on #113
Here's an app that does this. I'd love to see this as part of Tomighty!

https://itunes.apple.com/us/app/countdown-simple-menubar-timer/id1018859486?mt=12

[2016-03-17 15:39] rodiontsev commented on #108
@maliayas, @gkerenyi if you check the source code, you will find that these screens have not been implemented yet. Feel free to fork the project, implement them, and create a pull request ;)

[2016-03-17 16:25] gkerenyi commented on #108
@rodiontsev Oh, I see :) Thanks!

[2016-04-04 15:44] letalvoj commented on #11
:+1:

[2016-04-05 11:09] keikoro commented on #106
+1 and thanks for the workaround, @m9n!

[2016-04-19 01:58] jonbakerfish opened #115 "High DPI support for windows"
The app seems so small on high DPI machine.

[2016-05-05 15:12] sebelk commented on #114
Does include the source code?

[2016-06-21 04:03] misgeatgit opened #116 "Error starting tomighty: The system tray is not supported on the current platform"
Trying to run on Ubuntu 14.04 with gnome desktop.
Hardaware has the ff specs
Memory: 15.6 G,  processor: interl core i7-67000 3.4GHz x 8, Graphics GTX 745/PCie/SSE2, OStyp: 64bit, Disk: 1.9T.

Full stack trace is as follows. Mind you used to work on another machine with ubuntu 14.04 but with a lesser hardware spec.

[code]

[2016-06-24 15:39] ogzA commented on #106
it worked, thank you very much!, @m9n

[2016-07-19 03:29] ripper234 opened #117 "Start automatically when the computer starts"
**Feature Request**

It would be useful to have an option "start Tomighty automatically" on startup without having to run it manually.

[Temporary workaround for now](http://www.howtogeek.com/228467/how-to-make-a-program-run-at-startup-on-any-computer/)

[2016-07-29 10:00] vospitannikov opened #118 "Error on starting "Error: Could not open `C:\Progmam Files (x86)\Java\jre1.8.0_60\lib\i386\jvm.cfg"""
After Java update following error appears at the moment of app start
The latest JAVA version on local PC - jre1.8.0_101

[2016-08-16 09:06] sergeykosik commented on #118
In my case, after Java update (jre18.0_101) on Win10 the following error displays at the app start:

The registry refers to a nonexistent Java Runtime environment installation of the runtime is corrupted.
The system cannot find the file specified.

[2016-08-17 02:37] ptmkenny commented on #118
I'm also having problems after updating Java (jre18.0_101) on Win10.  This is the error I get:

Java Virtual Machine Launcher
Error: could not open `C:\Program Files(x86)\Java\jre1.8.0_60\lib\i386\jvm.cfg`

[2016-08-21 21:27] mkierc opened #119 "Make configuration portable"
Let the user choose where to keep the configuration files (user home folder/same as executable/remote location/other) so the application is fully portable and the user can sync the configuration.

[2016-09-04 21:03] dvntucker commented on #106
Closing this as a duplicate of:

https://github.com/tomighty/tomighty-osx/issues/21

The fix for this is due in 1.1.

[2016-09-04 21:03] #106 closed, assigned to nobody

[2016-09-05 15:03] sergeykosik commented on #118
Just uninstalled java 8 and installed java 7 and tomighty works again.

[2016-09-05 19:54] ccidral commented on #118
Sorry folks for all the trouble with Java. I'm rewriting Tomighty in C# so this should not be a problem anymore with the next versions.

[2016-12-21 22:45] thatguyintech commented on #113
This would be a great feature!

[2017-01-09 23:41] sagnikd opened #120 "Mac OS app on download from website breaks"
it appears that something is broken in download of this app on Mac OS.
<img width="369" alt="screen shot 2017-01-10 at 5 10 36 am" src="https://cloud.githubusercontent.com/assets/3775151/21788179/2cfbe8aa-d6f3-11e6-9578-a64d2789e65a.png">

[2017-01-14 12:14] 0xack13 commented on #115
I have reproduced the same issue in a high-DPI machine, in this case you just need to edit the `java.exe` in your x64/x86 `JRE` path using a resource editing tool e.g. Resource Hacker.

In a Windows machine, run the resource editing tool ` as Administrator`, open the `java.exe` (including `javaw.exe` and `javaws.exe`) files and in the `manifest` section change:

[code]
to:

[code]
Recompile the sc

[2017-03-01 22:27] djbrieck opened #121 "No notification bubbles when Timers finish"
When ever a  pomodoro, short break or even long break finishes there is never a notification pop up nor added into notification center when the timer ends. There is only a notification when the timer is started. Is there suppose to be a notification pop and entry into notification center notifications when any timer ends?

Current preferences settings

![screen shot 2017-03-01 at 5 20 40 pm](https

[2017-03-07 09:44] aleemb opened #122 "Add visual alert"
The timer ends without any notice. This means I need to unplug headphones or put them on to have it work. A visual alert option would be very convenient.

[2017-03-16 16:57] cmruffin commented on #112
+1

[2017-08-27 13:43] steve4444 commented on #115
If it is a matter of hacking you don't need this, which, by the way, will affect every java app.
Just select `tomighty*.exe`, ALT+Enter -> Compatibility -> Override High DPI scaling behaviour -> System.
It works for the menus.

The minute counter is still small. If you know the place in the code to set a larger font/icon, please tell.

[2017-10-14 03:52] satoshi commented on #50
See if adding "Notification Area" to your panel helps with this.  It worked for me when I added it.

[2017-10-16 11:32] ar2oor commented on #60
+1

[2017-11-04 23:01] nara-l commented on #112
+1

[2017-12-09 02:14] chriszimmerman opened #123 "Tomighty menu bar icon is invisible on a mac that has dark theme enabled"
Hi all. I love using Tomighty. Keep up the awesome work!

<img width="436" alt="screen shot 2017-12-08 at 9 11 35 pm" src="https://user-images.githubusercontent.com/483359/33791615-685ef526-dc5c-11e7-8425-197bc4e556c4.png">

Believe it or not, I have Tomighty started when I took this screenshot. It's difficult to see this.

If I click where the hidden icon is and start a timer, it becomes visible.

[2017-12-10 16:46] conradmcha commented on #112
+1

[2018-04-19 09:12] rgov commented on #123
I use the dark theme on macOS 10.13.4 and I do not see the same issue as you.

[2018-04-19 09:13] rgov commented on #120
I cannot reproduce this issue. You can check that the file is not corrupted:

[code]

[2018-04-19 09:14] rgov commented on #113
Looks like this is a feature now. Check Preferences -> General.

[2018-04-19 15:29] #113 closed, assigned to nobody

[2018-07-26 11:37] AleksMeshkov commented on #11
any updates?

[2018-10-06 21:30] chriszimmerman commented on #123
Apologies for taking forever to get back to this. I was using an old version of Tomighty (1.0.1). I installed a newer version 1.2.1 and I no longer have the issue.

I'm closing this issue. Apologies for the inconvenience. Thanks for making an awesome product. :)

[2018-10-06 21:30] #123 closed, assigned to nobody

[2019-01-23 14:21] stacksjb commented on #120
I didn't have this issue either. Also, this should be logged under tomighty-osx

[2019-02-11 08:13] tistatos opened #125 "trying to disable tic-tac while timer is running won't stop the sound"
On Windows 10, if you try to disable the tic-tac sound during an active timer, the ticking wont stop. you have to restart the timer to have it go away

[2019-04-30 15:45] veremenko-y opened #126 "Website is down"
Displays application error

[code]

[2019-06-03 11:14] crc83 opened #127 "Write, use plugins written in Java"
I'm trying to build plugin https://github.com/crc83/tomighty-gcal-plugin
And I get an error :
Could not resolve dependencies for project org.tomighty.plugin.gcal:tomighty-gcal-plugin:jar:0.1: The following artifacts could not be resolved: org.tomighty:tomighty-api:jar:0.8.0, org.tomighty:tomighty-swing:jar:0.8.0: Could not find artifact org.tomighty:tomighty-api:jar:0.8.0 in google-api-services (h

[2019-06-10 17:45] #126 closed, assigned to nobody

[2019-10-09 14:23] quinnfive commented on #25
4+ years later and I'm afraid the ticking sound is still not able to be disabled during the breaks... kinda sucks.

Any plans on continuing to work on this app at all?

I really like Tomighty - so many features about it that are great and there are very few half decent pomodoro apps out there...

[2019-11-01 08:56] r0973 opened #128 "test-runner issue"
Good day! While building tomighty from sources on Ubuntu 18.04 with qt5 I have got the following problem:
cd test-runner/ && ( test -e Makefile || /usr/lib/qt5/bin/qmake -o Makefile /home/user0973/hgcpp/tomighty/src/test-runner/test-runner.pro ) && make -f Makefile
make[1]: вход в каталог «/home/user0973/hgcpp/tomighty/build/test-runner»
g++ -c -pipe -O2 -std=gnu++11 -Wall -W -D_REENTRANT -fPIC -D

[2019-11-10 06:36] gdev2018 opened #129 "I need to count the total number of tomatoes for the day, not just 4 ones"
will do it, pls

[2020-12-01 03:26] mhnsn opened #131 "Add option to silence ticking sound"
For some with ADD/ADHD (myself included) who could benefit from this app, the ticking sound completely negates any potential benefit. I uninstalled the app within 15 seconds of my first session because of how intrusive it is for me, sadly.

[2021-01-19 16:12] felipeggrod commented on #117
That would be really useful

[2021-02-13 22:39] FF-Brown commented on #131
This option already exists. You can find it by right-clicking the icon in the taskbar and going to Options > Sounds > Enable tic-tac
![2021-02-13 14_38_43-Options](https://user-images.githubusercontent.com/54860453/107863426-35b8da00-6e09-11eb-8039-dee484a9d483.png)

[2021-06-02 17:44] riceset opened #134 "Feature Request: An option to hide the menu bar icon (MacOS)"

[2021-09-28 08:31] derhagen commented on #111
Same issue here. I'll use [KeepingYouAwake](https://github.com/newmarcel/KeepingYouAwake) in the meantime, but it's a bit annoying, of course. tomighty could adapt the use of the [caffeinate](https://web.archive.org/web/20140604153141/https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man8/caffeinate.8.html) command that comes with macOS

[2021-10-19 11:00] kotobuki09 opened #135 "Stop working with latest Windows 10 update?"
I couldn't even open the tomighty with a new update for windows 10. Do anyone facing the same issue?

[2021-11-04 19:45] #135 closed, assigned to nobody

[2021-11-04 19:45] kotobuki09 commented on #135
Java framework issued. Solved

[2022-04-08 07:08] Nemesis19 opened #136 "Apple Silicon Support"
Dear Developer,

although Tomighty keeps working perfectly with Rosetta, I'd like to know if you can release an Apple Silicon version.

Thank you

[2022-07-27 14:35] Notdutra commented on #93
any update?